

body {
    background-color: var(--PaletaCor02);
    font-family: var(--Font01);
    height: 100vh;

}


#fulllogo {
    font-family: var(--Font01);
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    padding: 12px 0px 12vh 0px;
    text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.199);
}

#logopart1 {
    color: var(--PaletaCor01);
}

#logopart2 {
    color: var(--PaletaCor03);
}

#socialmedia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

a {
    flex: auto;
    max-width: 16vw;
    max-height: 9vh;


}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}