

body {
    background-color: var(--PaletaCor02);
    font-family: var(--Font01);

}


#fulllogo {
    font-family: var(--Font01);
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    margin: 8px 0px 10vh 0px;
    text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.199);
}

#logopart1 {
    color: var(--PaletaCor01);
}

#logopart2 {
    color: var(--PaletaCor03);
}

form {
    text-align: center;
    font-family: var(--Font01);
}

#field1 {
    padding: 20px;
    border-top: 2px solid var(--PaletaCor01);
    border-left: none;
    border-right: none; 
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.item {
  flex: auto;
}

    /* APRENDER FLEXBOX PARA CONSEGUIR FAZER DETALHE DA LINHA */



legend {
    font-size: 1.5em;
    font-weight: bold

}

input {
    display: block;
    margin: auto;
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 0.9em;    
}

#inp1 {
    margin-bottom: 5px;
}

#inp1, #inp2 {
    background-color: var(--PaletaCor05);
}

#inp2 {
    margin-bottom: 10px;
}

#inp3 {
    background-color: var(--PaletaCor01);
    margin-bottom: 20px;
    color: var(--PaletaCor02);
}

#inp3:hover {
    filter: brightness(1.4);
}

aside {
    font-size: 0.7em;
    display: inline-block;
    margin: auto;

    
    
  
}

aside a {
    color: var(--PaletaCor01);
}

#alternativeor {
    font-weight: 600;
}


#password {

    


}

#Noaccount {

}

#field2 {
    border: none;
    margin-top: 15px;
}


ul img {
    height: 8vh;
    width: 20vw;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 5px;

}

ul {
    padding-top: 10px;
    list-style-type: none;
}

ul li {
    display: inline-block;
}