@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--Font02);
}

:root {
    --PaletaCor01: rgb(59, 68, 246);      
    --PaletaCor02: rgb(216, 218, 253);  /* Shapes and icons' background */
    --PaletaCor03: rgb(255, 255, 255);   /* Texts */
    --PaletaCor04: rgb(24, 24, 24);   /* Page's Background and Texts */
    --PaletaCor05: #f5f4f9;   /* Page's Background */
    --PaletaCor06: rgba(24, 24, 24, 0.569); /* Page's Background and Texts - Less opacity */
    --Font01: 'Lexend', sans-serif; /* Titles */
    --Font02: 'Roboto', sans-serif; /* Paragraphs */
}

body {
    background-color: var(--PaletaCor05);
    height: 100vh;

}


/*Css abaixo é para logotipo e deve ser utilizado o seguinte html

<p id="fulllogo"><span id="logopart1">eX</span><span id="logopart2">Store</span></p>

---*/

#fulllogo {
    font-family: var(--Font01);
    font-weight: 600;
    font-size: 1.5em
}

#logopart1 {
    color: var(--PaletaCor01);
}

#logopart2 {
    color: var(--PaletaCor03);
}


/*------------------------ General settings ------------------------*/