@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--Font02);
}

:root {
    --PaletaCor01: #3B44F6;      
    --PaletaCor02: #d8dafd;  /* Shapes and icons' background */
    --PaletaCor03: #FFFFFF;   /* Texts */
    --PaletaCor04: #181818;   /* Page's Background and Texts */
    --PaletaCor05: #F5F4F9;   /* Page's Background */
    --PaletaCor06: #18181891; /* Page's Background and Texts - Less opacity */
    --Font01: 'Lexend', sans-serif; /* Titles */
    --Font02: 'Roboto', sans-serif; /* Paragraphs */
}

body {
    background-color: var(--PaletaCor05);
    height: 100vh;

}


/*Css abaixo é para logotipo e deve ser utilizado o seguinte html

<p id="fulllogo"><span id="logopart1">eX</span><span id="logopart2">Store</span></p>

---*/

#fulllogo {
    font-family: var(--Font01);
    font-weight: 600;
    font-size: 1.5em
}

#logopart1 {
    color: var(--PaletaCor01);
}

#logopart2 {
    color: var(--PaletaCor03);
}


/*------------------------ General settings ------------------------*/