body {
    flex-flow: row nowrap;
    align-items: stretch;


}

#game1{
    display: none;

}

#game2 {
    display: block;
}

#gameimg {
    height: 100vh;
    width: 50vw;
    justify-self: flex-start;

    
}

#gameimg img {
    object-position: center center ;
    
    
    border-radius: 0;


}

#maindiv {
    width: 50vw;
    
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.575);
    display: flex;
    align-items: center;
    justify-content: center;

}
main {
    width: 50vw;
    justify-content: center;
    align-items: center;
   
}

section {
    width: 80%;
}

#alternativetext::before {
 
    left: 70%;
    
}

#alternativetext::after {

    right: 70%;
}

#alternativetext::before, #alternativetext::after {
    width: 30%;
}

footer {
    display: none;
}