@charset "UTF-8";

body {
    background-color: var(--PaletaCor05);
}



/*!--------------MAIN------------------*/
/**-----MAIN-GAME-CONTENT----*/

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.name-and-rate {

}

#nameOfTheGame {
  width: 85vw;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.stars {
  height: 7vw;
  max-height: 35px;

}

.star-container {
  width: clamp(18px, 5vw, 30px);
  margin-left: -1.5px;
}


.star-path {

  stroke: #F8C316;
  stroke-width: 2px;

}

.eachgame {
  /*-----EACH GAME GLOBAL SETTINGS----*/
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.24);

  grid-area: 1/1/4/4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.square-container {
  flex: 1 0 70%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.square-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.pricediscount {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
}

.discount {
  font-size: 1.9rem;
  font-weight: 500;
  background-color: var(--PaletaCor01);
  color: var(--PaletaCor03);
  flex: 0 1 70%;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 0px;
}

.price {
  box-sizing: border-box;
  border-radius: 0px 0px 5px 0px;
  border: 2px solid var(--PaletaCor01);
  flex: 0 0 30%;

  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.first {
  font-size: 0.8em;
  text-decoration: line-through;
  color: var(--PaletaCor04);
}

.second {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--PaletaCor01);
}

.main-game-content {
  display: grid;
  width: 85vw;
  height: 65vh;
  grid-template: repeat(3, 1fr) clamp(3.75rem, 2.411rem + 6.696vw, 5.625rem) / repeat(3, 1fr);
}

.container-secondary-images {
  grid-area: 4/1/5/4;
  margin-top: 5px;
  height: 100%;
  

  display: flex;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
}

.secondary-images {
  background-color: black;
  border-radius: 5px;
  border: 2px solid rgb(51, 0, 235);
  aspect-ratio: 16/9;
  max-width: 30%;
  object-fit: cover;

}

.container-action {
  display: grid;
  width: 85vw;
  grid-template: repeat(3, 1fr) / 1fr;
  margin-top: 15px;
  gap: 3px;
}

.action {
  background-color: var(--PaletaCor02);
  color: var(--PaletaCor01);
  padding: 2.2vw;
  border: 1px solid var(--PaletaCor01);
  border-radius: 4px;
  font: normal 500 0.9rem var(--Font01);
}

.action:first-child {
    background-color: var(--PaletaCor01);
  color: var(--PaletaCor03);
  padding: 2.2vw;
  border: none;
  border-radius: 4px;
  font: normal 500 0.9rem var(--Font01);
}



/*------------SECTION-DETAILS------------*/

#details {
    width: 85vw;
    margin: 0 auto;
    background-color: var(--PaletaCor02);
    color: var(--PaletaCor03);
    border: 2px solid var(--PaletaCor01);
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
}

.about h2 {
  color: var(--PaletaCor01);
  font-size: clamp(1rem, 7vw, 2rem);
}

#DescriptionOfTheGame {
  color: var(--PaletaCor04);
  font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.more-infos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 30px;
}

.more-infos li {
    width: 100%;
    list-style: none;
    border: none;
    border-radius: 3px;
    padding: clamp(0.15rem, 1vw, 0.3rem);
    background-color: var(--PaletaCor01);

    display: flex;
    justify-content: space-between;
}

.more-infos li p {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

.plataform-container {
  flex: 0 0 30%;

  display: flex;
  justify-content: flex-end;
}

.icon-plataform {
  width: 10%;


}
.metacritic-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;

}

#metacritic-logo {
  flex: 1 1;
  max-width: 60%;
}

#nota-metacritic {
  width: clamp(20px, 12vw, 80px);
  height: clamp(20px, 12vw, 80px);
  aspect-ratio: 1/1;
  border-radius: 3px;
  font-size: clamp(1rem, 5vw, 1.8rem);
  font-weight: 700;
  color: var(--PaletaCor04);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.bad {
  background-color: #FF6874;
}

.medium {
  background-color: #FFBD3F;
}

.good {
  background-color: #00CE7A;
}