@charset "UTF-8";

body {
    min-height: 100vh;
    position: relative;
    padding: 25px 0px 0px 0px;
    display: flex;
    flex-flow: column nowrap;
}

main {
    display: grid;
    grid-template: auto auto / 1fr auto 1fr;
}

h1 {
    position: relative;

    grid-area: 1/2/2/3;
    margin-bottom: 39px;
    color: var(--PaletaCor04);
    font-size: clamp(1.875rem, 1.591rem + 1.42vw, 2.5rem);
}

.wishlisted-games {
    grid-area: 2/2/3/3;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto ;
    grid-auto-rows: auto;
    gap: 12px;

}



.eachgame {
    display: flex;

    aspect-ratio: 16/9;
    background-color: var(--PaletaCor02);
    width: 94vw;
    max-width: 450px;
    border-radius: 8px;
    overflow: hidden;
    outline: 2px solid var(--PaletaCor01);
}

.img-price-container {
    width: 50%;
    height: 100%;
    outline: 2px solid var(--PaletaCor01);
    display: flex;
    flex-flow: column nowrap;
}

.square-container {
    width: 100%;
    overflow: hidden;
}

.square-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.pricediscount {
  flex: 0 0 10%;
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: var(--PaletaCor03);
  height: 40px;
  margin-top: auto;
  font-size: 0.8em;
outline: 2px solid var(--PaletaCor01);

}

.discount {
  font-size: 1.9rem;
  font-weight: 500;
  background-color: var(--PaletaCor01);
  color: var(--PaletaCor03);
  flex: 0 0 70%;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;


}

.price {
  box-sizing: border-box;


  flex: 0 0 30%;

  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;


}

.first {
  font-size: 0.7rem;
  text-decoration: line-through;
  color: var(--PaletaCor04);
}

.second {
  font-size: 1rem;
  font-weight: 600;
  color: var(--PaletaCor01);
}

.name-and-buttons {
    position: relative;
    width: 50%;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 2fr auto 1fr;


}

.action-button-container {
    width: 85%;

    grid-area: 2/1/3/2;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.wishlisted-games h2 {
    position: absolute;
    left: 10%; /* SINCRONIZADO COM O TAMANHO DOS BOTÕES */
    top: 6%;
    font-size: 14px;
}

.wishlisted-games button {
    background-color: var(--PaletaCor03);
    color: var(--PaletaCor01);
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    flex: 0 0 calc(100%/3);
    padding: 6px 0px;
    

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wishlisted-games button:first-of-type{
    background-color: var(--PaletaCor01);
    color: var(--PaletaCor03);
    margin-top: auto;
}

.wishlisted-games button:last-of-type {
    margin-bottom: auto;
}



/*------------FOOTER------------------------*/
body footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 10vh;
    margin-top: 50px;

    display: flex;
    flex-flow: column nowrap;
    box-shadow: 1px -5px 15px rgba(0, 0, 0, 0.301);
}

footer button {
    width: 100%;
    background-color: var(--PaletaCor02);
    color: var(--PaletaCor01);
    font-weight: 500;
    font-size: 12px;

    border: none;
    flex: 0 0 50%;
    
}

footer button:first-of-type {
    background-color: var(--PaletaCor01);
    color: var(--PaletaCor03);
}


/*!------------------768PX------------------------*/
@media (min-width:768px) {
    .wishlisted-games {
        grid-template-columns: auto auto;
    }
    .eachgame {
        width: 40vw;
        max-width: 410px;
    }
}


@media (min-width:1024px) {
    body {
        padding: 25px 0px 25px 0px;

    }
    
    .wishlisted-games {
        grid-template-columns: auto auto auto;
    }
    .eachgame {
        width: 30vw;
        max-width: 350px;
    }

    body footer {
        width: calc(90vw + 24px);
        margin: 50px auto 0px auto;
        max-width: 1080px; /*LARGURA EACH GAME + GAPS + OUTLINE */
    }
}